/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border:  3px #CCCCCC;
	border-spacing: 1px;
}

tr {
		border-collapse: collapse;
	border: ridge 3px #666666;
	border-spacing: 1px;
}

td {
	border-collapse: collapse;
	border:ridge 3px #666666;
	border-spacing: 1px;
}



#container {
	
	max-width:600px;
	margin:0 auto;
	height:595px;
	border: solid 1px #C0C1AE;
				 
	}



#menu li {
float:left;



}

#menu li, a {
	
	
	
	
	display:block;
	height:30px;
	
	

}

#menu {
	background-color:#51473d;
	height:29px;
	padding-left:10px;
	
}

#menu a {
	display:none;
	text-decoration:none;
	padding-top:10px;
	border: 1px solid #51473d;
	border-top:none;
	font-size:13px;
	color:#eae7d2;
	background-color:#797066;
	padding-left:18px;
	padding-right:18px;

}

#menu ul {
	text-align:center;
	text-decoration:none;
	text-transform:capitalize;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	
	
	
}

#menu li a {
	display:inline-block;
	
	border-top:solid 1px #847c73;
	
}

#menu li a:hover{
	background-color:#9c9084;
	color: #eae7d2;
	border-top:solid 1px #847c73;
	}

#menu li.active a {
	background-color:#eae7d2;
	color:#797066;
	border-top:none;
	
}

#maincontent h1 {
	text-indent:;
	font-size:30px;
	color: #797066;
	font-family:"Times New Roman", Times, serif;
	padding-bottom:15px;
	padding-top:5px;
	

}

#maincontent {	
	float:left;
	width:343px;
	letter-spacing:1px;
	line-height:170%;
	font-family: Verdana, Arial, Helvetica, sans-serif; 	
	font-size:11px;
	padding-bottom:10px;

}



#subcontent   {
	width:218px;
	float:right;
	border-left: dashed 1px;
	border-color:#c0c0c0;
	margin-left:10px;
	font-size:10px;
	
	padding-left:8px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding-bottom:15px;

}

#subcontent p  {
	letter-spacing: ;
	line-height:200%;

}



#subcontent h1 {
	font-size:16px;
	color:#51473d;
	padding-bottom:15px;
	font-family:"Times New Roman", Times, serif;
	padding-top:10px;

}

#subcontent h2 {
	color:#51473d;
	font-size:14px;
	font-family:"Times New Roman", Times, serif;
	padding-top:20px;
	padding-bottom:5px;
	

}

#subcontent ul li a {
	color: #51473d;
	

}


#subcontent a {
	font-size:13px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	height:20px;
}

#topbar	{
	
	width:600px;
	height:220px;
	background-image: url(pics/coffey.jpg);
	background-position:0px 20px;
	background-repeat:no-repeat;
	background-color: #51473d;
	text-align:right;
	color:#eae7d2;
	
	font-size:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-style:oblique;
	padding-top:5px;
	
	
	
}


#content {
	background: #eae7d2;
	float:left;
	padding-left: 10px;
	padding-right:10px;
	padding-top:18px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-stretch: inherit;
	color:#797066;
	
	
}



#bottomcontent {
	width:100%;
	
	
	font-family:Arial, Helvetica, sans-serif;
	font-style:oblique;
	padding-bottom:10px;
	font-size: 11px;



}

#maincontent img {
	float:left;
	padding-right:5px;
	
	
	

}